.docs-menubar {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    box-sizing: border-box;
    background-color: #f4f5f8;
    overflow-x: hidden;
    font-size: 18px;
    border-right: solid 1px #ccc;
}
.doc-content {
    width: calc(100% - 300px);
    position: relative;
    box-sizing: border-box;
    margin-left: 300px;
    z-index: 2;
    background-color: #fff;
    min-height: 100%;
    padding: 15px 25px;
}
.docs-logo {
    padding: 16px;
    background: #fbd866;
    color: black;
    font-size: 22px;
}
.docs-logo img {
    vertical-align: middle;
}
.block-search {
    padding: 14px;
    border-bottom: solid 5px #e4e4e4;
}
.block-search input {
    height: 26px;
    width: 205px;
    border-radius: 4px 0 0 4px;
    border-width: 1px;
    border-color: #ccc;

}
.block-search button {
    height: 26px;
    margin-left: -5px;
    border-radius: 0 4px 4px 0;
    border-width: 1px;
    border-left: 0;
}
.content-menu {
    margin: 2em auto 2em;
    padding: 0 0 100px;
    font-family: 'Roboto Condensed', sans-serif;
}
nav {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 28px;
}
nav a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    background: #f0f8ff;
    color: #005984;
    border-bottom: solid 1px #b3bfac;
}
nav a.active,
nav a:hover,
nav a:focus {
    background: #d0d6d4;
    color: #000;
}
.block-content {
    width: calc(100% - 300px);
    position: relative;
    box-sizing: border-box;
    margin-left: 300px;
    z-index: 2;
    background-color: #fff;
    min-height: 100%;
    padding: 15px 25px;
}

h1 {
    margin-top: 0;
    font-size: 60px;
    padding-bottom: 8px;
    margin-bottom: 20px;
    font-family: Georgia;
    font-style: italic;
}
.content-nav {
    background: #efefef;
    margin: 0px -25px 0;
    padding: 15px 15px 15px 50px;
    border-top: solid 1px #e2dddd;
    border-bottom: solid 1px #e2dddd;
}
.content-nav li.H2 {margin-left: 0; list-style: circle;}
.content-nav li.H3 {margin-left: 20px; list-style: outside;}
.content-nav li.H4 {margin-left: 40px; list-style: square;}
.content-nav li.H5 {margin-left: 60px}
.content-nav li.H6 {margin-left: 80px}
.content-nav li a {
    line-height: 25px;
    font-family: monospace;
    font-size: 19px;
    text-decoration: none;
    color: #0049a5;
}
.content-nav li a:hover,
.content-nav li a:focus {
    color: #e91e63;
}

h2, h3, h4 {
    margin-top: 45px;
}
p code,
li code {
    padding: 3px 8px;
    line-height: 30px;
    white-space: nowrap;
    font-family: Monaco,Menlo,Consolas, monospace;
    color: #ff1493;
    background-color: #f7f7f9;
    border: 1px solid #efeff7;
    border-radius: 3px;
}
.formula-norend, .formula {
    display: inline-block;
    margin: 8px;
    padding: 15px 35px;
    font-size: 24px;
    background: #fff;
    border: solid 2px #777;
    border-radius: 6px;
    box-shadow: 0px 0px 10px #669258 inset;
}
